body{
		background:url(https://th.bing.com/th/id/R.2518720e2e47c9cdfda7ccc7f6adc3f2?rik=dPgWlnIzO6n0eA&pid=ImgRaw&r=0);
		text-align: center;
		color:cyan;
		}

		p {
		font-size:20px;
		}

		h2 {
		font-size:25px;
		}	

 		.button {
        	display: inline-block;
       		padding: 10px 20px;
        	text-align: center;
        	text-decoration: none;
        	color: #ffffff;
        	background-color: #0E8AF6;
        	border-radius: 6px;
        	outline: none;
		}

		.garmin-1{
		background-color:rgb(255,0,0,0.5);
		margin-left:37%;
		margin-right:37%;
		border-radius: 12px;		
		}
		.garmin-2{
		background-color:rgb(255,0,0,0.5);
		margin-left:39%;
		margin-right:39%;
		border-radius: 12px;		
		}
		.key-board{
		background-color:rgb(255,0,0,0.5);
		margin-left:40%;
		margin-right:40%;
		border-radius: 12px;		
		}
		.blanket{
		background-color:rgb(255,0,0,0.5);
		margin-left:42%;
		margin-right:42%;
		border-radius:12px;
		}
		.gift-cards{
		background-color:rgb(255,0,0,0.5);
		margin-left:46%;
		margin-right:46%;
		border-radius:12px;
		}
		.gta{
		background-color:rgb(255,0,0,0.5);
		margin-left:29%;
		margin-right:29%;
		border-radius:12px;
		}
		.controller{
		background-color:rgb(255,0,0,0.5);
		margin-left:43%;
		margin-right:43%;
		border-radius:12px;
		}
